
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&family=Lobster&family=Montserrat&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

/* .container {
  display:flex;
  justify-content: center;
  align-items: center;
  
} */

/* NAVBAR */

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 2rem;

  
}

nav {
  display: flex; 
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* margin: 0 auto; */
  
  
}


nav li{
display: inline;
text-align: center;
margin-left: 15px;
margin-top: 6em;
text-transform: uppercase;


}


li a:hover{
  color:rgb(221, 55, 130);;
}


li a{
  color: black;
}

.home{
background-color: rgb(221, 55, 130);
padding: 0.2em 1em;
color: white;
}

.home a {
  color:white;
}

.home a:hover{
  color:black;
}



.logo {
  width: 12em;
  height: 8em;
  background-color: black;
  border-radius: 50%;
  position: relative; 
  /* top: -15px;
  left: 15px; */
 
}

.logo h1{
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  line-height: 0.7rem;
  text-align: center;
  padding: 35% 0;
  text-align: center;
  margin: 0;
  font-weight: 400;
 
}

.logo a{
  color: white;
  text-decoration: none;
}

/* .bubble {
position: absolute;
top: 0.5px;
right: 250px;
transform: scaleX(1);
/* z-index: -1; */
 

.bubble{
  position: absolute;
  top: 0.5px;
  right: 250px;
  

}

.nav-btn{
  cursor: pointer;
  padding: 5px;
  background:transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  color: black;
  font-size: 2em;
}

ul > hr{
  display: none;
}

@media screen and (min-width: 1700px) {
  
 
  .bubble{
    right: 550px;
  }
  
 }

@media all and (max-width: 1110px){

  header{
    justify-content: space-between;
  
  }
  .nav-btn{
    visibility: visible;
    opacity: 1;
  }


  header nav{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-180vh);
   
   

    /* background-color: #0D2538;
    position: fixed;
    transform: translateY(-100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100%;
    padding-top: 3.5rem;
    transition: 0.3s ease-in-out; */
   
  }
    

  ul {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li{
  margin-top: 2em;
  font-size: 1em;  
}

nav li a{
  color: white;
  
  
}
ul > hr{
  border-bottom:  1px dotted white ;
  width: 100%;
  display: inherit;
  margin: 1em auto ;
  text-align: center;


}

    


  .responsive_nav{
    transform: none;
  }

  .bubble {
    top: 0em;
    right: 0em;
  }

  .nav-close-btn{
    position: absolute;
    top: 0;
    right:0;
    color: white;
  }


}




@media all and (max-width: 500px){

  
  body{
    background-color: white;
  }

  header{
    justify-content: space-between;
    
  }

   /* li{
    flex-direction: column;
  } */

  .logo {
   
    margin-left: -2rem;
    top: 0;
    left:0;
    width: 9em;
    height: 5em;
   
  }

  .logo h1{
    font-size: 2em;
    padding: 25% 0;
  }

  /* .bubble{
    top: 5em;
    right: 10em;
    background-color: transparent;
    width: 8%;

  } */
}

@media all and (max-width: 380px){
  .bubble{
    top: 5.5em;

    
  }
  
}



/*Burger2*/

/* 
@media screen and (max-width: 768px){
ul{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
    list-style: none;
    width: 100%;
    position: fixed;
    
    
}
  
  .nav{
    
    height: 100%;
    background-color: black;
    
   
  
  }

  .nav li a{
    color:white;
  }

   
} */

/*Burger menu */
.burger-menu{
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  align-items: flex-end;
  justify-content: space-between;
}

.burger-bar {
  width: 4em;
  height:  0.5em;
  background-color:rgb(221, 55, 130);
  border-radius:  0.5em;
  margin: 5px;
}

.menu{
  width: 50%;
  height: 100vh;
  background-color: aqua;
  position:absolute;
  top: 0;
  z-index: -1;

}

.hidden{
  display: none;
}
.visible{
  display: inherit;
}

/* ---------- clicked -----*/ 

.burger-bar.clicked:nth-child(1){
  transform: rotate(40deg) translate(0.5em, 1em);
  transition: ease-out 0.5s;
  
}
.burger-bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;

}
.burger-bar.clicked:nth-child(3){
  transform: rotate(140deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;

}

/* ---------- unclicked --------*/
.burger-bar.unclicked{
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885,  0.32, 1.275) 0.5s;
}




/*slides*/

/* .carousel{
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100vh;
  
}
.slide{
  position: absolute;
  inset: 0;
  opacity:0;

}

.slide[data-active]{
  opacity: 1;
} */

/* .prev, .next{
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 50%;
  font-size: 4rem;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  border-radius: .25rem;
  padding: 0 .5rem;

} */

/* .prev:hover, .next:hover,
.prev:focus, .next:focus{
  color:white;
  background-color: rgba(0,0,0,.2);
  outline: 1px solid black;
}

.prev{
  left: 12rem;
}

.next{
  right: 12rem;
} */

/*Lines */

.visible{
  display: none;
}

.line-container{
width: 100%;
max-width: 60%;
 display: flex;
 flex-direction: column;


 /* margin: 5px 350px 0; */
 

 
 
 
 
 
  
}
.line {
  justify-content: center;
  display: flex;
  border: none;
  border-top: 3px solid black;
  color: black;
  width: 100%;
  margin: 5px auto 0;


 
  
} 

 .thin{
border: 1px solid black;
margin: 5px auto 0;
width: 100%;
}

.line-dotted{
  border: 1px dotted black;
  margin: 5px auto 0;
  width: 100%;
}

/*Lines2 */

.line-container-2{
  width: 100%;
  max-width: 80%;
   display: flex;
   flex-direction: column;
   margin-top: 5px;
  
   /* margin: 5px 350px 0; */
   
  
   
   
   
   
   
    
  }
  .line-2 {
    justify-content: center;
    display: flex;
    border: none;
    border-top: 3px solid black;
    color: black;
    width: 100%;
  
  
   
    
  } 
  
   .thin-2{
  border: 1px solid black;
  margin: 5px auto 0;
  width: 100%;
  }
  
  .line-dotted-2{
    border: 1px dotted black;
    margin: 5px auto 0;
    width: 100%;
  }



/* Bubbles section prva, nepouzita*/

.container-bubbles{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin: -5em -1em ; /* bolo -8 */
  /* border: 1px solid black; */
 
}

.courses {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgb(221, 55, 130);
  position: relative;
  left: 10%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  
  
}
 
.courses p:last-child{
  text-transform: none;
  font-size: 25px;
  margin-top: 1rem;
}

/* .courses > p{
  top:40%;
  line-height: 1em;
  display: block;
} */
.courses-p-text{
  margin-top: 15px;
 }

.courses p{
  margin:5px 5px 1px;
}

.courses-text {
  position: relative;
  top: 30%;
}

.courses-text h2{
  font-size: 30px;
  margin-top: 10px;
}

.sign-up{
  display: flex;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgba(112,175,24, 1);
  position: relative;
  align-items:flex-start;
   bottom: -150px;
   justify-content: center;

  
}
 .sign-up-text{
  position: absolute;
  text-transform: none;
  color: white;
  

 }


 .sign-up-text h2{
  margin-top: 3rem;
  text-transform: uppercase;
 }

 .sign-up-text p {
  margin-top: 1rem;
  font-size: 1.5rem;
 }

 /* .sign-up p:nth-of-type(3){
  text-transform: lowercase;
 } */

 .find-us{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: black;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
  right: 9em;
  top: 5em;
  
 }

 .find-us p a{
  text-transform: uppercase;
    text-decoration: none;
    color: white;
  
  
 }

 .kontakt{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 300px;
  bottom: -15px;
  font-size: 30px;
  text-transform: uppercase;

 }
 
 .contact-us{
  position: absolute;
 
 }


 .kontakt hr{
  width: 200px;
  text-align: center;
  border: 1px rgba(black, black, black, 0.5);
  margin-top: 1rem;
  justify-content: center ;

 }

 


 /* @media (max-width: 1024px)  {

  .courses {
    left: 30%;
  }

  .sign-up {
    left: 18em;
    bottom: -10em;
  }

  .find-us{
    left: 15em;
    top: 10em;
  }
  
  .kontakt{
    bottom: -6em;
    right: -9em;
  }
 }

 

  @media (max-width: 850px) {

    .courses-text {
      top: 10%;
    }

     
    .sign-up{
      padding:25%;
      left: 45%;
    }
    .sign-up-text{
      bottom:20%;
    }
    .courses{
      padding: 5%;
      left:  45%;
    }

    .find-us{
      left: 25em;
      padding: 5%;
    }

  .kontakt{
    bottom: -15em;
    right: -18em;
    
  } 
  
 } */
 /* STRED */




 .center{
 position: relative;
 display:flex;
 height:900px;
 width: 1000px;
 margin: 0 auto; /* tuoto bolo 0 250px 0*/
 /* border: 1px solid red; */
 justify-content: space-between;
 

 }

 .left-side{
  display: flex;
  flex-direction: column;
  width: 35%;
  position: relative;
  /* border: 1px solid blue; */

 }

 .left-text{
  display: flex;
  text-align: start;
  margin: 1rem;
  justify-content: flex-end;
  position: relative;
  border-top: 2px solid black;
  padding:2px;
  
  
 }


 h3{
  margin-top:  5px;
  font-size: 27px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  
 }
 .left-text p {
  margin: 2.5rem 2rem 0 0;
  font-size: 14px;
  line-height: 1.6em;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  
  
  
 }  
 /* .left-text h3{
  margin-top: 5px;
  justify-content: flex-end;
 }  */

 .small-circle{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 10px;
  background: #000000;
  flex-shrink: 0;
  position: absolute;
  
  
  
 }


 .right-side{
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: row;
  width: 65%;

 }

 .right-side .small-circle{
  background-color: #dd3782;
  width: 100px;
  height: 100px;
  z-index: -1;
  top: 1px;

 
 }
 .right-side h3{
  text-align: start ;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: -5px;
  

 }

 .about-text{
  text-align: start;
  padding-top: 15px;
  margin:10px;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height: normal;

 }

 .about-text p:last-child{
  padding-top: 15px;
 }

 .list-pros{
  margin: 4rem 1rem;
 }

.list-pros li{
  text-align: start;
  margin-left: 3rem;
  text-transform: uppercase;
  font-family: var(--h1-li-font-enriqueta);
  font-size: 22px;

}

.btn-info {
  background-color:#ffffff;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
  font-weight: 500;
	font-family:Arial;
	font-size:17px;
	padding:15px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin: 2rem;
}

.btn-info:hover{
  background-color:#161515;
  transition: ease-in-out 0.3s;
  color:white;
}

.btn-info:active{
  position:relative;
	top:1px;
}

.btn-info a{
  text-decoration: none;
  color: inherit;
}

.london-img{
  display: block;
  width: 100%;
  /* border:rgb(221, 55, 130) 1px solid; */
  
}




@media screen and (max-width: 1110px) {
  .center{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
  
  
  }

  .right-side{
    width: 80%;
  }

  .right-side .small-circle{
   top: inherit;
   transform: translate(0, -30px);
      
   }

   .about-text{
    width: 100%;
   }

   .left-side{
    width: 50%;
   }

  hr.line, hr.thin, hr.line-dotted {
    margin: 5px 0;
    width: 100%;
}

    .list-pros ul{
      align-items: flex-start;
    }
 
  
}

@media screen and (max-width: 700px){
  .left-side{
   width: 70%;
  }

  .right-side{
    width: 70%;
  }

  .about-text{
    width: 100%;
  }

  .list-pros{
    margin: 2rem -1rem;
  }

  .list-pros ul{
    
    margin: auto;
  }
  .list-pros li{
    font-size: 20px;

  }

  .btn-info{
    
    display: flex;
    margin: 2rem auto;
  }

  .london-img{
    width: 110%;
  }

  hr.line, hr.thin, hr.line-dotted {
    margin: 5px 0;
    width: 100%;
}
  
}

@media screen and (max-width: 500px) {
  .left-side{
    width: 85%;

  }

  .right-side{
    width: 80%;
  }

  .about-text{
    width: 100%;
  }

  .list-pros{
    margin: 2rem -1rem;
  }

  .list-pros ul{
    align-items: flex-start;
    margin: auto;
  }
  .list-pros li{
    font-size: 20px;

  }

  .btn-info{
    
    display: flex;
    justify-content: center;
  }

  .london-img{
    width: 100%;
  }

 
  
}

@media screen and (max-width: 410px){

  .left-side{
    width: 100%;
  }

  
}
@media screen and (max-width: 320px){

  .left-side{
    width: 105%;
  }

  .left-text{
    margin: 0.5rem;
    padding: 7px;
  }

  
}



/* Kurzy */

.kurzy-container{
 height: 800px;
 width: 1100px;
 display: flex;
 margin: 0 auto;
 position: relative;
 flex-direction: column;
 

}

.kurzy-headline{
  
  width: 100%;
  height: 30%;
  position: relative; 
  display: flex;
  justify-content: center; /*flex-end;*/
  align-items: center;

  
}

.kurzy-headline .small-circle{
  background-color: rgba(112,175,24, 1);
  position: absolute;
  left: 23%;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  bottom:35%;
}

.kurzy-headline .line{
  
  position: absolute;
  left: 23%; /*bolo 36*/
  bottom:18%;
  width: 70%;
}

.kurzy-headline .thin{
  position: absolute;
  left :23%;
  bottom: 25%;
  width: 70%;
  

}

.kurzy-headline h3{
  font-size: 35px;
  
}

.kurzy-headline .butterfly-img{
  left:0;
  position: absolute;
  width: 8rem;
 
}

.kurzy-headline .flower-img{
  width: 8rem;
}

@media screen and (max-width: 1110px) {
  .kurzy-container{
    margin: 0 10% ;
    width: 100%;
    height: auto;

  }

  .kurzy-headline{
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .kurzy-headline .butterfly-img{
    position: relative;
    margin: 1rem 0 ;
  }

  .kurzy-headline .flower-img{
    position: relative;
    width: 8rem;
    margin: 2rem 0;
    align-self: flex-end;
    right: 20%;
  }
  
  .kurzy-headline .small-circle{
    position: relative;
    left: 0;
    top: 75px;

  }

  .kurzy-headline .line, .kurzy-headline .thin{
   position: inherit;
   width: 110%;
}


}

@media screen and (max-width: 768px) {
  .kurzy-container{
    margin: 0 5%;
  }

  .kurzy-headline .line, .kurzy-headline .thin{
    width: 110%;
 }
  
}

@media screen and (max-width: 500px) {
  .kurzy-container{
    margin: 0 5px ;
  }

  .kurzy-headline .line, .kurzy-headline .thin{
    width: 95%;
 }

}

/* Typy kurzov */


.course-types{
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* flex-basis: 50%; */
  /* align-items: flex-end; */
  /* text-align: center; */
}

.courses-box{
  width: 230px;
  border: #000000 1px yellow;
  margin: 0.5em;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  padding: 1px; 
  min-height: 230px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
   
}

.course-text-box{
  margin: auto;
}

.type-button{
  
  align-self: flex-end;
  margin: auto;
}

.btn-info-2:nth-child(3){
  align-self: flex-end;
}

h4{
 
  font-size: 18px;

}

.courses-box p{
  line-height: 1.5em;
  font-size: 14px;
  
}

.btn-info-2{
background-color:#ffffff;
	border-radius:28px;
	border:1px solid #000000;
	cursor:pointer;
	color:#000000;
  font-weight: 500;
	font-family:Arial;
	font-size:14px;
	padding:10px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin: 1rem;
  text-align: center;


 
  
 
 

}

.btn-info-2:hover{
  background-color:#161515;
  transition: ease-in-out 0.3s;
  color:white;
}

.btn-info-2:active{
  position:relative;
	top:1px;
}

.btn-info-2 a{
  text-decoration: none;
  color: inherit;
}


@media screen and (max-width:500px){

  .courses-box{
      margin: 0 auto;
      align-items: flex-start;
      justify-content: flex-start;
  }


  
}



/*
FOOTER

*/

.footer-container{
  width: 100%; /*1600px*/
  background-color: black;
  height: auto ; /*500px; */
  display: flex;
  flex-wrap: wrap;
  


}

.footer-container-small{
  width: 1100px;
  margin: 0 auto; /* 0 250px 0 */
  padding: 1em;
  display: flex;
  flex-wrap: wrap; 

}


.footer-box{
  width: 260px; /*nejake percento */
  font-family: 'Open Sans', sans-serif;
  margin: 1em auto; /*1em 0 */
  height: 250px;
  text-align: left;
  padding: 1em;
 
  
}

.footer-box-text{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin: 0 auto;
  min-height: 70px;
  min-width: 260px;
 
}

.footer-box:nth-child(5) .footer-box-text, .footer-box:nth-child(6) .footer-box-text {
  align-items: flex-start;
  margin: 24% 0;
 
}

.footer-box h4{
  color: rgb(146,146,146);
  margin: 1em 0;
  text-transform: uppercase;
  font-size: 1em;
}
.footer-box p{
  color: white;
  line-height: 1.5em;
  font-size: 14px;
  
}

.footer-box p:first-of-type{
  margin-top: 1em;
}

.footer-box hr{
  width: 90%;
 
  color: rgb(207,207,207);
  border-top: 1px dotted rgb(207,207,207);

}

input{
  width: 99%;
  padding: 0.5em;
  margin-top: 1em;
 
}

.btn-subscribe{
  background-color: #dd3782;
  color: white;
  margin: 1em 0 0 9em;
  padding: 0.5em 1em;
  display: block;

 

}
.btn-subscribe:hover{
  color: black;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  
}


@media screen and (max-width: 290px){

  .footer-container{
    width: 160%;
  }

  .footer-box{
    min-width: 220px;
    height: auto;
    margin: auto;
    }

  .footer-box-text{
    min-width: unset;
    height: auto;
    margin: auto;
  }
}

/* 
.kurzy-headline h3{
 position: absolute;
 right: 150px;
 top: 20%;
}

.butterfly-img{
  position: absolute;
  top:20%;
  left:0;
  border: 1px solid red;
}

.flower-img{
  position:absolute;
  top:20%;
  right:0;
}






 




 */
